    html {
      scroll-behavior: smooth;
    }

    body {
  background-image: url('https://images.wallpaperscraft.com/image/single/coffee_book_glasses_140830_1920x1080.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;

  background-color: rgba(255, 255, 255, 0.85); /* 0.85 = transparansi */
  background-blend-mode: overlay;
}

    section {
      min-height: 100vh;
      padding: 80px 0;
    }
    .theme-dark {
      background-color: #121212;
      color: #ffffff;
    }
    .theme-light {
      background-color: #ffffff;
      color: #000000;
    }
    .navbar {
      transition: background-color 0.3s ease;
    }
    .card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
    .card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  }
.fade-section {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.fade-section.visible {
  opacity: 1;
  transform: translateY(0);
}